/* Alapértelmezett világos mód */
body {
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, aside, main {
    padding: 20px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* Dark mode stílusok */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode button {
    background-color: #444;
}

body.dark-mode button:hover {
    background-color: #666;
}

h1, h2, h3 {
    font-weight: bold;
}

/* Termékek megjelenése */
.product {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product h3 {
    margin: 0;
    font-size: 1.2em;
}

.product p {
    margin: 5px 0;
}

/* Kosár stílusok */
#cart-list {
    list-style-type: none;
    padding: 0;
}

#cart-list li {
    margin-bottom: 10px;
}

#total-price {
    font-weight: bold;
    margin-top: 20px;
}

@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header input, header button {
        margin-bottom: 10px;
    }
}